<!DOCTYPE html>
<html>
<head>
    <title>Bug Tracker</title> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
    
    <link rel="icon" href="icons/icon.ico">
    <link rel="stylesheet" href="/css/general styles/general.css">
    <link rel="stylesheet" href="/css/main page styles/general-main-page.css">
    <link rel="stylesheet" href="/css/main page styles/header.css">
    <link rel="stylesheet" href="/css/main page styles/sidebar.css">
    <link rel="stylesheet" href="/css/main page styles/notes.css">
    <link rel="stylesheet" href="/css/main page styles/popup-note.css">
    <link rel="stylesheet" href="/css/main page styles/titles.css">
    <link rel="stylesheet" href="/css/main page styles/popup-forms.css">
    <link rel="stylesheet" href="/css/main page styles/edit-popup-note.css">
    <script src="/javascript/Main_Screen.js"></script>
    
</head>

<body id="body">

  
  <div class="blurBug" id="blurBug" onclick=""></div>
  <div class="blurSprint" id="blurSprint" onclick="closeSprintForm()"></div>
  <div class="blurNewBug" id="blurNewBug" onclick="closeBugForm()"></div>


  <script>
    window.onload = function() {

    const currentUrl = new URL(window.location.href);
      
    var blur = document.getElementById('blurBug')
    var popupnote = document.getElementById('popupnote')

    if (popupnote && popupnote.classList.contains('active')) {
    blur.classList.toggle('active')
    popupnote.classList.toggle('active')
    }

    if (currentUrl.searchParams.has("bugId")) {
    currentUrl.searchParams.delete("bugId");
    history.replaceState(null, null, currentUrl.toString());
    }
    };

    window.addEventListener("popstate", function (event) {

      const currentUrl = new URL(window.location.href);
            
      var blur = document.getElementById('blurBug')
      var popupnote = document.getElementById('popupnote')

          if (popupnote && popupnote.classList.contains('active')) {

            blur.classList.toggle('active')
            popupnote.classList.toggle('active')

          } 

          if (currentUrl.searchParams.has("bugId")) {
          currentUrl.searchParams.delete("bugId");
          history.replaceState(null, null, currentUrl.toString());
          }
        });
  </script>
  
  

  <div class="createSprintContainer">
    <div class="createSprint" id="createSprintForm">
      <div class="closeButtonSection">
        <img class="popup-close-button" src="/icons/close-circle-outline.svg" onclick="closeSprintForm()">
      </div>
      <form action="/mainpage/bugscreen/<%= id %>/<%= projectName %>/<%= sprintName %>/<%= projectId %>/<%= sprintId %>/newsprint"method="POST">
        <div class="sprintNameTitle">Sprint Name:</div>
        <input class="sprintNameBox" name="sprintName" type="text" required="text" placeholder="Sprint Name Here">
        
        <div class="sprintSubmitButtonContainer">
        <button class="sprintSubmitButton" type="submit">Create New Sprint</button> 
        </div>  

      </form>
    </div>
  </div>

  <div class="createBugContainer">
    <div class="createBug" id="createBug">
      <img class="popup-close-button" src="/icons/close-circle-outline.svg" onclick="closeBugForm()">

      <form action="/mainpage/bugscreen/<%= id %>/<%= projectName %>/<%= sprintName %>/<%= projectId %>/<%= sprintId %>/newbug" method="POST">
        <p>Bug Name:</p>
        <input class="bugNameBox" name="bugName" type="text" required="text">
        <p>Bug Summary:</p>
        <input class="bugSummaryBox" name="bugSummary" type="text" required="text" maxlength="276" >
        <p>Bug Priority:</p>
        <select class="bugPriorityBox" name="bugPriority" type="text" required=true>
          <option value="1">Low Priority</option>
          <option value="2" selected="selected">Medium Priority</option>
          <option value="3">High Priority</option>
          </select>
        <p>Bug Type:</p>
        <input class="bugTypeBox" name="bugType" type="text" required="text">
        <p>Bug Environment:</p>
        <input class="bugAreaBox" name="bugArea" type="text" required="text">
        <p>Assigned To:</p>
        <input class="bugAssignedTooBox" name="bugAssignedToo" type="text" required="text">
        <p>Bug Deadline:</p>
        <input class="bugTimeFrameBox" name="bugTimeFrame" type="text" required="text">
        <p>Bug Priority:</p>
        <select class="bugProgressBox" name="bugProgress" type="text" required=true>
          <option value="To-Do" selected="selected">To Do</option>
          <option value="In-Progress" >In Progress</option>
          <option value="Code-Review">Code Review</option>
          <option value="Completed">Completed</option>
          </select>
        <p></p>
          <button type="submit">Submit Bug</button> 
      </form>
    </div>
  </div>

  <div class="popupNote" id="popupnote" onload="verificationFuction()">
    <img class="popup-close-button" src="/icons/close-circle-outline.svg" onclick="closeBigNote()">
    <div class="popup-titlegrid">
      <div class="popup-title" id="popup-title"></div>
      <div class="popup-urgency-container">
        <div class="popup-urgency" data-urgency="" name="popup-urgency"></div>
      </div>
    </div>

    <div class="popup-typegrid">
      <div class="popup-bugtype" id="popup-bugtype"></div>
      <div class="popup-deadline" id="popup-deadline"></div>
    </div>

    <div class="popup-bugenvironment" id="popup-bugenvironment"></div>
    <div class="popup-bugdescription" id="popup-bugdescription"></div>
    <div class="popup-bugassignto" id="popup-bugassignto"></div>
    <div class="assignBySection">
      <div class="popup-bugassignby"></div>
      <div class="editButtonContainer" id="editButtonContainer">
        <div class="edit-Button" id="edit-Button" onclick="loadEditNote(), formActionApply()"> Edit</div>
      </div>
    </div>
    </div>

  </div>

  <div class="EditPopUp" id="EditPopUp">
    <div class="editPopUpSectionContainer" id="EditPopUpContainer">
    <img class="Editpopup-close-button" src="/icons/close-circle-outline.svg" onclick="closeEditNote()">
    </div>

    <div class="EditPopUpContainer">

    <form action="/mainpage/bugscreen/<%= id %>/<%= projectName %>/<%= sprintName %>/<%= projectId %>/<%= sprintId %>" id="editBugForm" method="POST">
      <div class="NameUrgencyTitleContainer">
        <div class= "editBugNameTitle">Bug Name:</div>
        <div class="editBugUrgencyTitle">Bug Urgency:</div>
      </div>  

      <div class="Editpopup-titlegrid">
        <input class="Editpopup-title" id="Editpopup-title" type="text" name="Editpopuptitle">
        <div class="Editpopup-urgency-container">
          <div class="Editpopup-urgency" data-urgency="" name="Editpopupurgency"></div>
        </div>
      </div>

      <div class="TypeDeadlineTitleContainer">
        <div class="editBugTypeTitle">Bug Type:</div>
        <div class="editBugDeadlineTitle">Bug Deadline:</div>
      </div>  

      <div class="Editpopup-typegrid">
        <input class="Editpopup-bugtype" id="Editpopup-bugtype" name="Editpopupbugtype">
        <input class="Editpopup-deadline" id="Editpopup-deadline" name="Editpopupdeadline">
      </div>

      <div class="Editpopup-additionalFields">
        <div class="editBugEnvironmentTitle">Bug Environment:</div>
        <input class="Editpopup-bugenvironment" id="Editpopup-bugenvironment" name="Editpopupbugenvironment">
        <div class="editBugDescriptionTitle">Bug Description:</div>
        <textarea class="Editpopup-bugdescription" id="Editpopup-bugdescription" name="Editpopupbugdescription"></textarea>
        <div class="editBugAssignedToTitle">Assigned To:</div>
        <input class="Editpopup-bugassignto" id="Editpopup-bugassignto" name="Editpopupbugassignto">
      </div>  

      <div class="buttonSection">
        <div class="cancelButtonContainer">
          <div class="cancelButton" onclick="closeEditNote()">Cancel</div>
        </div>
        <div class="doneButtonContainer">
          <button class="doneButton" type="submit">Done</button>
        </div>   
      </div>
    </form>   
  </div>
  </div>

  <main class="main" >
    
    <header class="header-bugtracker">
      <div class="leftsection">
        <div class="main-menu-button-container">
          <img class="main-menu" src="/icons/arrow-back-outline.svg" onclick="location.href = '/mainpage'">
          
        </div>
        <div class="create-sprint-container">
          <div class="create-sprint-button" onclick="openSprintForm()">Create Sprint</div>
        </div>
        <!-- will have sprint button to create a new sprint-->
        <!-- will have project settings -->
        
      </div>
      <div class="middlesection">
        <div class="headerlogo">
          <img class="logo" src="/icons/logo.svg">
        </div>
      </div>
			
      <div class="right-section">
        <div class="report-bug-button-container">
          <button class="report-bug-button" onclick="openBugForm()">Report a bug</button></div>
          
        <div class="settings-container">
          <img class="settings-icon" src="/icons/cog.svg">
        </div>
        <div class="notifications-container">
          <img class="notifications-icon" src="/icons/notifications.svg">
        </div>
        <div class="help-container">
          <img class="help-icon" src="/icons/help-circle-outline.svg">
        </div>
        <div class="profile-picture-container" id="profile-picture-container" data-name="<%= id %>"></div>
      </div>
    </header>
    
    <nav class="sidebar">
      <div class="current-section">Home</div>
      <div class="section">button 2</div>
      <div class="section">button 3</div>
      <div class="section">button 4</div>
      <div class="section">button 5</div>
      <div class="section">button 6</div>

    </nav>

<section class="titles">
  <div class="bugFilterContainer">
    <div class="sectionOne">Bug filter here</div> <!-- bug filter, will be fixed-->
  </div>
  
  <div class="titleContainer">
    <div class="sectionTwo"><%= projectName %></div> <!-- Title here, needs to be fr-->
  </div>

  <script>
    function loadNewSprint(selectElement) {
      const id = '<%= id %>';
      const projectId = '<%= projectId %>';
      const projectName = '<%= projectName %>';

      const newSprintId = selectElement.value;
      const newSprintName = selectElement.options[selectElement.selectedIndex].text;

      const encodedSprintName = encodeURIComponent(newSprintName)

      const redirectLink = '/mainpage/bugscreen/' + id + '/' + projectName + '/' + newSprintName + '/' + projectId + '/' + newSprintId;

      window.location.href = redirectLink;
    }
  </script>

  <div class="sprintSelectionContainer">
      <p class="sprintName">Current Sprint:&nbsp;&nbsp;&nbsp;<%= sprintName; %>&nbsp;</p>
      
      <select class="selectionBox" id="newSprintSelect" onchange="loadNewSprint(this)">
        <option value="" disabled selected selected="selected">Select a sprint</option>
        <% newSprints.forEach(newSprint => { %>
          <% const newSprintName = newSprint.sprintName %>
          <option value="<%= newSprint._id %>" ><%= newSprintName %></option>
        <% }); %>
      </select>
  </div>
  
  
    
</section>    

<!-- To Do Section-->

<section class="grid-format" >
  <div class="notes-grid-background">
    <p class="grid-title"> To-Do x</p> 
    <div class="grid-section">    
      
      <% bugs.filter(bug => bug.bugProgress === 'To-Do').forEach(bug => { %>
        <div id="clickedNote" class="note" data-id="<%= bug._id %>" onclick="openBigNote(this.getAttribute('data-id'))">
           <div class="bug-title-row"> 
             <div class="bug-title"> <%= bug.bugName %> </div>
             <div class="urgency" data-urgency="<%= bug.bugPriority %>" name="urgency"></div>
           </div>
           <div class="description"> <%= bug.bugSummary %> </div>
           <div class="bugID"> <%= bug._id %> </div>
           <div class="bug-type"><%= bug.bugType %></div>
           <div class="bug-deadline"><%= bug.bugTimeFrame %></div>
           <div class="bug-environment"><%= bug.bugArea %></div>
           <div class="bug-assignto"><%= bug.bugAssignedToo %></div>
           <div class="bug-assignby"><%= id %></div>
        </div>
      <% }) %>

        </div>
  </div>
  
<!-- In Progress Section-->

  <div class="notes-grid-background">
      <p class="grid-title"> In-Progress x</p>  
      <div class="grid-section">
      
        <% bugs.filter(bug => bug.bugProgress === 'In-Progress').forEach(bug => { %>
          <div id="clickedNote" class="note" data-id="<%= bug._id %>" onclick="openBigNote(this.getAttribute('data-id')), urgencyColours();">
             <div class="bug-title-row"> 
               <div class="bug-title"> <%= bug.bugName %> </div>
               <div class="urgency" data-urgency="<%= bug.bugPriority %>" name="urgency"></div>
             </div>
             <div class="description"> <%= bug.bugSummary %> </div>
             <div class="bugID"> <%= bug._id %> </div>
             <div class="bug-type"><%= bug.bugType %></div>
             <div class="bug-deadline"><%= bug.bugTimeFrame %></div>
             <div class="bug-environment"><%= bug.bugArea %></div>
             <div class="bug-assignto"><%= bug.bugAssignedToo %></div>
             <div class="bug-assignby"><%= id %></div>
          </div>
        <% }) %>
      
      </div>
    </div>

    <!-- Code Review Section -->

    <div class="notes-grid-background">
        <p class="grid-title"> Code Review x</p>  
        <div class="grid-section">
        
        
          <% bugs.filter(bug => bug.bugProgress === 'Code-Review').forEach(bug => { %>
            <div id="clickedNote" class="note" data-id="<%= bug._id %>" onclick="openBigNote(this.getAttribute('data-id'))">
               <div class="bug-title-row"> 
                 <div class="bug-title"> <%= bug.bugName %> </div>
                 <div class="urgency" data-urgency="<%= bug.bugPriority %>" name="urgency"></div>
               </div>
               <div class="description"> <%= bug.bugSummary %> </div>
               <div class="bugID"> <%= bug._id %> </div>
               <div class="bug-type"><%= bug.bugType %></div>
               <div class="bug-deadline"><%= bug.bugTimeFrame %></div>
               <div class="bug-environment"><%= bug.bugArea %></div>
               <div class="bug-assignto"><%= bug.bugAssignedToo %></div>
               <div class="bug-assignby"><%= id %></div>
            </div>
          <% }) %>
        

        </div>
      </div>

        <!-- Completed Section -->
     
        <div class="notes-grid-background">
          <p class="grid-title"> Completed x</p>  
            <div class="grid-section">
              
              <% bugs.filter(bug => bug.bugProgress === 'Completed').forEach(bug => { %>
                <div id="clickedNote" class="note" data-id="<%= bug._id %>" onclick="openBigNote(this.getAttribute('data-id')), verificationFuction();">
                   <div class="bug-title-row"> 
                     <div class="bug-title"> <%= bug.bugName %> </div>
                     <div class="urgency" data-urgency="<%= bug.bugPriority %>" name="urgency"></div>
                   </div>
                   <div class="description"> <%= bug.bugSummary %> </div>
                   <div class="bugID"> <%= bug._id %> </div>
                   <div class="bug-type"><%= bug.bugType %></div>
                   <div class="bug-deadline"><%= bug.bugTimeFrame %></div>
                   <div class="bug-environment"><%= bug.bugArea %></div>
                   <div class="bug-assignto"><%= bug.bugAssignedToo %></div>
                   <div class="bug-assignby"><%= id %></div>
                </div>
              <% }) %>    
           
            </div>
          </div>
        </div>
  
        <script>
          const urgencyColours = async () => {
            try {
              const priorityColours = document.querySelectorAll('.urgency');
              priorityColours.forEach(priorityColour => {
                const priorityValue = priorityColour.dataset.urgency;
                if (priorityValue === '1') {
                  priorityColour.style.backgroundColor = 'green';
                } else if (priorityValue === '2') {
                  priorityColour.style.backgroundColor = 'orange';
                } else {
                  priorityColour.style.backgroundColor = 'brown';
                }
              });

          } catch (err) {
              console.log(err);
            }
          }
          urgencyColours();
        </script>
  </section>
</main>


</body>
</html>