<!DOCTYPE html>
<html>
<head>
  <title>Login</title>    
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Kanit:wght@700;800&family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
  <link rel="icon" href="/icons/icon.ico">
  <link rel="stylesheet" href="/css/main page styles/general-main-page.css">
  <link rel="stylesheet" href="/css/home screen styles/header.css">
  <link rel="stylesheet" href="/css/home screen styles/projects.css">
  <link rel="stylesheet" href="/css/home screen styles/groups.css">
  <link rel="stylesheet" href="/css/home screen styles/home screen.css">
  <link rel="stylesheet" href="/css/home screen styles/popup.css">
  <script src="/javascript/Base_Screen.js"></script>

</head>

<body >

<section class="header">

<div class="nameSection">
  <div class="firstNameBox">
    Hello, &nbsp;<%= firstname %> <%= lastname %> 
  </div>

  <div class="right-section">
    
    <div class="second-section">
      <div class="test">cool</div>
    </div>
    
    <div class="user-section">
      <form action="/mainpage/logout?_method=DELETE" method="POST">   
        <button type="submit">Log Out</button>
      </form>
        
      <a href="mainpage/user-account-details/<%= id %>/edit">Edit Account</a>
      
      <div class="user-settings-container">
        <img class="settings-icon" src="/icons/cog.svg">
      </div>
      <div class="user-notifications-container">
        <img class="notifications-icon" src="/icons/notifications.svg">
      </div>
      <div class="profile-Picture-container">
        <div class="profile-Picture">Test</div>
      </div>
    
    </div>
  </div>
</div>

</section>  



<!-- VVVVV ignore me im working-->
<section>

<div class= "titlesSection">
<div class="projectsTitleContainer">   
  <div class="projectsTitleContentContainer"> 
    <div class="titleContainer">
      <div class="title" id="title">Projects </div>
    </div>
      <div class="createProjButtonContainer">
      <div class="createProjButton" onclick="openProjectPopUp()">
        <div>Create Project</div>
      </div>
    </div>
  </div>
</div>
<div class="secondSectionTitle"> Groups</div>
</div>

<script>
window.onload = function totalProjects(specificDivCount) {
const specificDivs = document.querySelectorAll('.projectBoxContainer');
specificDivCount = specificDivs.length;
console.log(`Number of specific divs: ${specificDivCount}`);

const titleElement = document.getElementById('title');
    titleElement.textContent = `Projects: ${specificDivCount}`;
  } 
</script>


<div class="projectsGrid">
  
  <% projects.forEach((project, index) => { %>
   <div class="projectBoxContainer" >
    <div class="projectContainer" id="projectContainer">
      <div class="projectNameContainer">
      <div class="projectName" id="<%= project._id %>"><%= project.projectName %></div>
      </div>
      <div class="projectLinkContainer">
      <div class="projectLink">
      <% const projectId = project._id.toString(); %>
      <% if (firstSprintsMap.has(projectId)) { %>
        <% const sprint = firstSprintsMap.get(projectId); %>
        <a id="projectLink" href="/mainpage/bugscreen/<%= id %>/<%= project.projectName %>/<%= sprint.sprintName %>/<%= project._id %>/<%= sprint._id %>"><%= project.projectName %></a>
      <% } %>
      </div>
    </div>
      <div class="editProjectContainer">
        <a class="editProject" href="/mainpage/projectEdit/<%= project._id %>/<%= %>">Edit Project</a>
      </div>
      <div class="projectDeleteContainer">
      <form method="post" action="/mainpage/ProjectDelete/<%= projectId %>?_method=DELETE">
        <button type="submit">Delete</button>
      </form>
      </div>
    </div>
  </div> 
  <% }) %>

  <script>
    window.addEventListener('DOMContentLoaded', function() {
      var projectNames = document.querySelectorAll('.projectContainer');
      var delay = 600; // Adjust the delay duration here (in milliseconds)

      projectNames.forEach(function(projectName, index) {
        setTimeout(function() {
          projectName.classList.add('active');
        }, delay * index);
      });
    });

    document.addEventListener('DOMContentLoaded', function() {
    // Get all the projectBoxContainer elements
    const projectBoxes = document.querySelectorAll('.projectBoxContainer');

    // Add click event listener to each projectBoxContainer
    projectBoxes.forEach(projectBox => {
      projectBox.addEventListener('click', function() {
        // Get the anchor tag within the clicked projectBoxContainer
        const anchorTag = projectBox.querySelector('#projectLink');
        
        // Get the href value from the anchor tag
        const href = anchorTag.getAttribute('href');

        // Redirect to the link
        window.location.href = href;
      });
    });
  });

  </script>


</div>


<div class="groupsGrid"></div>

</section>



<section>
  <div class="popUpCreateProject" id="popUp">
    <form action="/mainpage/" method="POST">
      
      <div class="popupSectionContainer">
        <div class="popUpCloseButtonSection">
          <div class="popUpCloseButtonContainer">
            <img class="popup-close-button" src="/icons/close-circle-outline.svg" onclick="closeProjectPopUp()">
          </div>
        </div>
      </div>
      
      <div class="projectNameTitle"> Project Name: </div >
      <input class="projectNameBox" name="projectname" type="text" placeholder="Project Name" required="text" minlength="2" maxlength="60">
      <div class="groupNameTitle"> Group Name: </div >
      <input class="groupNameBox" name="groupname" type="text" placeholder="Group Name" required="text" minlength="2" maxlength="60">
      <div class="sprintNameTitle"> Sprint Name: </div >
      <input class="sprintNameBox" name="sprintname" type="text" placeholder="Sprint Name" required="text" minlength="2" maxlength="60">
      
      <div class="submitButtonContainer">
      <button class="submitButton" type="submit">Save</button>
      </div>

    </form>
  </div>
</section>



</body>
</html>