<!DOCTYPE html>
<html>
<head>
  <title>Login</title>    
  <link rel="icon" href="/icons/icon.ico">
  <link rel="stylesheet" href="/css/main page styles/general-main-page.css">
  <link rel="stylesheet" href="/css/home screen styles/home screen.css">
  <link rel="stylesheet" href="/css/home screen styles/popup.css">
  <script src="/javascript/Base_Screen.js"></script>

</head>

<body >

<section>

<div class="nameSection">
  <div class="firstNameBox">
    Hello <%= firstname %> <%= lastname %> 
  </div>
  <div class="profilePictureBox">
    <div class="profilePicture">Test Text</div>
  </div>
</div>

</section>  



<!-- VVVVV ignore me im working-->
<section>

<div class= "titlesSection">
<div class="projectsTitle">   
  <div class="title">Projects</div>
  <div class="createProjButton" onclick="openProjectPopUp()">Create Project</div>
</div>
<div class="secondSectionTitle"> Section</div>
</div>


<div class="projectsGrid">
  
  <% projects.forEach((project, index) => { %>
    <div class="projectContainer" id="projectContainer">
      <div class="projectName" id="<%= project._id %>"><%= project.projectName %></div>
      <div class="projectLink">
      <% const projectId = project._id.toString(); %>
      <% if (firstSprintsMap.has(projectId)) { %>
        <% const sprint = firstSprintsMap.get(projectId); %>
        <a href="/mainpage/bugscreen/<%= id %>/<%= project.projectName %>/<%= sprint.sprintName %>/<%= project._id %>/<%= sprint._id %>"><%= project.projectName %></a>
      <% } %>
      </div>
      <a class="editProject" href="/mainpage/projectEdit/<%= project._id %>/<%= %>">Edit Project</a>
      <form></form>
    </div>
  <% }) %>

  <script>
    window.addEventListener('DOMContentLoaded', function() {
      var projectNames = document.querySelectorAll('.projectContainer');
      var delay = 300; // Adjust the delay duration here (in milliseconds)

      projectNames.forEach(function(projectName, index) {
        setTimeout(function() {
          projectName.classList.add('active');
        }, delay * index);
      });
    });
  </script>
</div>

</section>



<div class="popUpCreateProject" id="popUp">

  <form action="/mainpage/" method="POST">
    <img class="popup-close-button" src="/icons/close-circle-outline.svg" onclick="closeProjectPopUp()">
    <p> Project Name: </p>
    <input class="projectNameBox" name="projectname" type="text" placeholder="Project Name" required="text" minlength="2" maxlength="20">
    <p> Group Name: </p>
    <input class="groupNameBox" name="groupname" type="text" placeholder="Group Name" required="text" minlength="2" maxlength="20">
    <p> Sprint Name: </p>
    <input class="sprintNameBox" name="sprintname" type="text" placeholder="Sprint Name" required="text" minlength="2" maxlength="20">
    <p></p>
    <button type="submit">Save</button>
  </form>
  
</div>


<form action="/mainpage/logout?_method=DELETE" method="POST">   
  <button type="submit">Log Out</button>
</form>
  
<a href="mainpage/user-account-details/<%= id %>/edit">Edit Account</a>

</body>
</html>